body{
    padding: 0;
    margin: 0;
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    opacity: .7;
    padding: 15px 8% 5px 8%;

}

header #logo{
    color: #fff;
    font-size: 19px;
}

header ul{
    text-align: right;
    padding: 0;
}

header ul li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

header ul li+li{
    padding-left: 2rem;
}

header a{
    color: #fff;
    cursor: pointer;
}

header li:nth-child(1) a{
    border: 2px solid #fff;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    padding: 4px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

header a:hover{
    opacity: .8; 
}

#contact{
    border: 1px solid #ddd;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
#contact a{
    text-decoration: none;
    color: blue;
}
#contact a:hover{
    color: #0099e6;
}
#contact #number a{
    margin-right: 3rem;
}
#contact #follow{
    display: flex;
}
#contact #follow a{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 3rem;
}
@media screen and (max-width: 768px){
    header{
        grid-template-columns: 1fr;
    }
    header ul{
        text-align: left;
    }
}